{% extends 'base.html' %}

{% block title %}Lista de Categorias{% endblock %}

{% block content %}
<h1>Lista de Categorias</h1>

<a href="{% url 'crear_categoria' %}" class="btn btn-success mt-2 mb-4"> + Crear Nueva Categoria</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'filtro_categorias' categoria.pk %}">{{ categoria.nombre }}</a></td>
            <td>
                <a href="{% url 'editar_categoria' categoria.pk %}" title="Editar"><i class="fa-solid fa-pen-to-square text-primary mx-2"></i></a>
                <a href="{% url 'eliminar_categoria' categoria.pk %}" title="Eliminar"><i class="fa-solid fa-trash text-danger"></i></a>
            </td>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">¡No hay categorias registrados!</td>
            </tr>
            {% endfor %} 
        </tr>
    </tbody>

</table>

{% endblock %}